[v-cloak] {
    display: none;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.card-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    opacity: 0.70;
}