[v-cloak] {
    display: none;
}
.mission-card .card-body, .mission-card .card-header {
    padding: .5em !important;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}