<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Show Mission Tracker</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css" type="text/css">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link type="text/css" rel="stylesheet" href="css/app.css"/>
    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js" defer></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js" defer></script>
    <script src="//unpkg.com/vue-select@latest" defer></script>
    <script src="js/data/missions.js" defer></script>
    <script src="js/app.js" defer></script>
</head>
<body>
    <div id="app" v-cloak>
        <b-container fluid>
            <b-row>
                <b-col>
                    <b-card title="Welcome" class="mb-2 mt-3">
                        <p class="card-text">Welcome to The Show Mission Tracker. This site uses cookies and local storage to save your settings. Click the Add Mission button to get started.</p>
                    </b-card>
                </b-col>
            </b-row>
            <b-row v-for="mission in activeMissions" :key="mission.value">
                <b-col>
                    <b-card bg-variant="light" :header="mission.label" class="mb-2 mission-card">
                        <b-btn v-for="requirement in mission.requirements" :key="requirement.name" v-bind:class="{'mr-2' : true, 'btn-success' : isRequirementComplete(requirement), 'btn-warning' : (isRequirementStarted(requirement) && !isRequirementComplete(requirement))}" size="sm"  v-on:click="requirementIncrease(requirement)">{{ requirement.name }} {{ requirement.current }}/{{ requirement.goal }}</b-btn>
                        <b-btn  v-bind:class="{'float-right' : true, 'btn-success' : areAllRequirementsComplete(mission)}" size="sm" v-bind:disabled="!areAllRequirementsComplete(mission)" v-on:click="removeActiveMission(activeMissions, mission)">&nbsp;<i class="octicon octicon-check"></i> </b-btn>
                        <b-btn  v-bind:class="{'float-right' : true, 'btn-danger' : true, 'mr-2' : true}" size="sm" v-on:click="requirementResetAll(mission)">&nbsp;<i class="octicon octicon-sync"></i> </b-btn>
                    </b-card>
                </b-col>
            </b-row>
            <b-row class="mb-2">
                <b-col>
                    <b-btn v-b-modal="'addModal'" class="w-100" size="lg" variant="primary">Add Mission</b-btn>
                </b-col>
            </b-row>
            <b-row class="mb-2" v-if="(activeMissions.length > 0)">
                <b-col>
                    <b-btn class="w-100" size="lg" variant="secondary" v-on:click="clearActiveMissions()">Clear Missions</b-btn>
                </b-col>
            </b-row>
            <b-row id="pageFooter">
                <b-col>
                    <p>Site created by <a href="https://twitter.com/mhodgson">Mike Hodgson</a>. MLB The Show is &copy; 2018 Sony Interactive Entertainment LLC.</p>
                </b-col>
            </b-row>
        </b-container>

        <b-modal id="addModal" size="lg" title="Add Mission" @ok="handleOK">
            <b-form-row>
                <v-select :options="missions" id="missionSelect" v-model="selectedMission" placeholder="Select a player mission..." class="w-100"></v-select>
            </b-form-row>
        </b-modal>
    </div>
</body>
</html>